body
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	
}
h1
{
font-size:1.3em;	
}
h2
{
font-size:1.2em;	
}
td, p
{
	font-size: 8pt;
	text-align: left;
	
}
.main
{
	margin-left:auto;
	margin-right:auto;
	border:solid 1px #ffffff; /* Without this, the PDF renderer only displays the first div and ignores any repeats */
	margin-top:30px;
}
.border
{
	border: solid 1px #aaaaaa;
	border-bottom: none;
	border-left: none;
}
.border.bottom
{
	border-bottom: solid 1px #aaaaaa;
}
.border.left
{
	border-left: solid 1px #aaaaaa;
}
.border.top
{
	border-top: solid 1px #aaaaaa;
	border-right: none;
}
th
{
	font-size: 8pt;
	background-color: #dedede;
}
.field-title, .total
{
	font-weight: bold;
}
.numeric
{
	text-align: right;
}
.grand-total
{
	font-size: 13pt;
	font-weight: bold;
	white-space: nowrap;
}
.vendor
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: right;
}
.small-print
{
	font-size: 7pt;
}
.remittance
{
	border: solid 1px #cccccc;
}
.payment-link
{
	display: block;
	font-size: 9pt;
	padding: 5px;
	border: solid 1px #999999;
	background-color: #eeeeee;
}