a {
 color: #000000;
 background-color: transparent;
 font-weight: normal;
 text-decoration:none;
}

h1 {
 color: #444;
 background-color: transparent;
 
 font-size: 16px;
 font-weight: bold;
 margin: 0px 0 2px 0;
 padding: 5px 0 6px 0;
}

var {
 font-family: Tahoma, Lucida Grande, Verdana, Geneva, Sans-serif;
 color: #8F5B00;
 font-weight: bold;
 font-style: normal;
}

code {
 font-family: Monaco, Verdana, Sans-serif;
 font-size: 12px;
 background-color: #f9f9f9;
 border: 1px solid #D0D0D0;
 color: #002166;
 display: block;
 margin: 14px 0 14px 0;
 padding: 12px 10px 12px 10px;
 line-height: 20px;
}

body {
	background: #279BE2 url('http://www.laworld.com/templates/ja_mica/images/bg.png') repeat-x;
	margin: 0;
	padding: 0;
	font: 11px Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

h2,h3,h4,h5 {
	margin-top: 0;
	font-family: Tahoma, Lucida Grande, Verdana, Geneva, Sans-serif;
	font-size: 1.5em;
	
}

input[type=text], input[type=password] {
	
	margin: 0 0 0 0;
      
	border: 1px solid #bbbbbb;
}
td {
	padding:3px;
}
	
	




/* Validation error messages */

.error {
	color: #CC3300;
	font-size: 1em;
}

fieldset {
	
	margin: auto;
	border:0px;
	display: block;
}

legend {
	
	font-weight: bold;
}



#header {
	border-bottom: solid 1px #808080;
	background: url(../images/bg_header.gif) repeat-x 0 0;
}

#header_inner {
	margin: 0 auto;
	width: 960px;
	height: 65px;
	padding: 5px 20px 0;
	color:#CCCCCC;
	}
#top_menu {
	font-family: Monaco, Verdana, Sans-serif;
	font-size: 1em;
	color: #888888;
	float: right;
	margin: 25px 0 0 0;
}
#top_menu a {
	color: #999999;
}
#mainnav {
	border-top: solid 0px #303030;
	border-bottom: solid 1px #000000;
	background:#252525;
	height: 30px;
	padding-top:3px;
}

#mainnav a {
	color: #dddddd;
}
#mainnav_inner {
	width: 940px;
	clear:both;
	margin:0px auto;
	
	line-height:25px;
}
#logo{
	background:url(../images/logo.png);
	width: 150px;
	height:60px;
	float:left;
}
.footer {
	text-align:center;
	font-size: 1em;
	clear:both;
	margin:0px 0 0 0;
	padding:20px 0;
	background-color:#252525;
	border: solid 1px #555555;
	color: #dddddd;
}
.container {
	background:no-repeat #ffffff;
	background-position: top center; 
	display:block;
	


}
.contents{
min-height:200px;

border-left: 1px solid #ffffff;
border-right: 1px solid #ffffff;
width: 980px;
margin:0px auto;
padding-top:15px;
text-align: left;


}
#login_form {
	width: 200px;
	background: #ffffff;
	border: 1px solid #2e90bd;
	margin: 25px auto 0px;
	padding: 1em;
	text-align: center;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
#login_form input {

width: 200px;	
float:left;
}
.grid
{
display:inline;
float:left;
width:940px;
margin-left:20px;
}
.bodytext
{
display:inline;
float:right;
margin: 0 20px 0 0;
width: 570px;

}

.login {
text-align:center;
font-size: 1em;
}
.leftmenu {
float:left;
width:150px;

padding: 15px 10px 15px 20px;
}
.top_menu {

padding: 0 15px;
margin: 15px auto;
}
.clearfloat { 
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
.warning {

width: 360px;
margin: 5px auto;
background-color: #993300;
padding: 15px;
top: 100px;
text-align:center;
border: solid 1px #999999;
-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.topbar
	{
	background:#000000  repeat-x;
	border: 1px solid #444;
	font-weight: normal;
	color:#ffffff;
	display: block;
	overflow: hidden;
	padding: 6px;
	
	position: relative;
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	}

#ajax_body {
	
	border: solid 0px #000000;
	margin:0 auto 0;
	position:relative;
	top:0px;
	padding: 0px auto 0px auto;	
	z-index:999;
	
}
.leftcolumn {
	width: 100px;
	background: #dddddd;
	font-weight:bold;
	padding:2px;
	margin-right:5px;
	float:left;
}
.edit {
	float:left;
	
}
.editquote  {
	background:#ffffff;
width: 150px;
}
.editquote_area {
	background:#ffffff;
width: 150px;

}
.formfield {
	margin:5px 0;
	border: solid 0px #000000;
	padding: 0px;
}
#popup_form {
	margin: 15px auto;
	padding: 15px;
	width:290px;
	background:#dddddd;
}
#popup_form label {
	width: 100px;
float: left;
text-align: right;
margin-right: 0.0em;
display: block;
margin: 3px;
padding: 1px;
	background:#cccccc;
}
#popup_form input {
	
margin: 3px;
	
}
iframe {
border: 0px inset;
}

.filefolder {

    width:200px;
    float:left;
    text-align: center;
}
.searchlabel{
    font-weight: bolder;
    width:120px;
    float:left;
}